<div class="container tour-edit">
  <div class="col-md-8 col-md-offset-2">
    <app-tour-form></app-tour-form>
  </div>

  <div class="container-fluid text-center col-xs-12" *ngIf="exhibits.length">
    <span class="heading-text">Tour Exhibits</span>
    <app-exhibit-list-presentation
      [exhibits]="exhibits"
      [showMode]="'card'"
      [isTour]="isTour"
    ></app-exhibit-list-presentation>
  </div>

  <div class="container-fluid text-center col-xs-12" *ngIf="guide.length">
    <span class="heading-text">Tour Guide</span>
    <app-guides-list-presentation
      [guides]="guide"
      [isTour]="isTour"
    ></app-guides-list-presentation>
  </div>

  <div class="container-fluid text-center col-xs-12" *ngIf="visitors.length">
    <span class="heading-text">Tour Visitors</span>
    <app-visitors-list-presentation
      [visitors]="visitors"
      [isTour]="isTour"
    ></app-visitors-list-presentation>
  </div>

</div>
