<div class="col-xs-12">
  <div class="col-xs-12 tour-details">
    <h1 class="text-center">{{ tour.theme }}</h1>
    <div class="container-fluid">
      <div class="col-xs-4">
        <img class="img-responsive" src="{{ tour.imageUrl }}" alt="Tour">
      </div>
      <div class="col-xs-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="heading">Duration: </span> <span>{{ tour.duration }}</span>
          </div>
          <div class="panel-body description">
            <span class="heading">Type Of Exhibits: </span> <span>{{ tour.typeOfExhibits }}</span>
          </div>
          <div class="panel-body">
            <span class="heading">Cost: </span> <span>{{ tour.cost }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 favourite-tour">
      <div>
        <ng-template [ngIf]="!isGuide">
          <div class="favourite-tour_btn" *ngIf="isFavouriteTour">
            <span class="heading-text">Tour already in favorites</span>
            <button class="btn btn-danger" (click)="onDeleteFavouriteTour()">Delete from favourites</button>
          </div>
          <div class="favourite-tour_btn" *ngIf="!isFavouriteTour">
            <button class="btn btn-primary" (click)="onAddIntoFavourites()">Add into favourites</button>
          </div>
        </ng-template>
      </div>
      <a *ngIf="isGuide" routerLink="edit" class="btn btn-primary">Edit</a>
    </div>
  </div>
  <div class="container text-center col-xs-12" *ngIf="exhibits">
    <span class="heading-text" *ngIf="exhibits.length">Exhibits in tour</span>
    <app-exhibit-item
      *ngFor="let exhibit of exhibits"
      [exhibit]="exhibit"
    ></app-exhibit-item>
  </div>
</div>
