<nav class="navbar-fixed-left navbar-default navbar navbar-dropdown">
  <div class="navbar_arrow"></div>
  <div class="navbar-header navbar_header">
    <a href="#" routerLinkActive="active" class="museum-img"></a>
  </div>
  <ul class="nav navbar-nav navbar_group-item">
            <li routerLinkActive="active">
              <a routerLink="/exhibits">
                <div class="exhibit-img"></div>
                <span>Exhibits</span>
              </a>
            </li>
<!--            <li routerLinkActive="active">-->
<!--              <a routerLink="/visitors">-->
<!--                <div class="visitor-img"></div>-->
<!--                <span>Visitors</span>-->
<!--              </a>-->
<!--            </li>-->
<!--    <li routerLinkActive="active">-->
<!--      <a routerLink="/tours">-->
<!--        <div class="tour-img"></div>-->
<!--        <span>Tour</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li routerLinkActive="active">-->
<!--      <a routerLink="/exhibits">-->
<!--        <div class="guide-img"></div>-->
<!--        <span>Guides</span>-->
<!--      </a>-->
<!--    </li>-->
  </ul>
  <ul class="nav navbar-nav navbar_group-item navbar_group-item__bottom">
    <li class="navbar_item" *ngIf="isAuthenticated">
      <a routerLink="/exhibits" (click)="onLogout()">
        <div class="logout-img navbar_img"></div>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="!isAuthenticated">
      <a routerLink="/login">Login</a>
    </li>
  </ul>
</nav>
