a {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background: none;
}

.navbar_arrow {
  position: absolute;
  bottom: 50vh;
  left: 100px;
  background: url("../../assets/img/fast-forward.svg") no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 60;
}

.navbar-fixed-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100px;
  border-radius: 0 5px 5px 0;
  height: 100vh;
  position: fixed;
  margin: 0;
  background-color: #e9e9e9;
  z-index: 50;
}

.navbar_group-item__bottom {
  width: inherit;
  position: fixed;
  bottom: 15px;
}

.navbar_group-item, .navbar_group-item a {
  display: flex;
  font-size: 14px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbar_header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: 1px solid black;
}

.museum-img {
  background: url("../../assets/img/art_gallery_museum-512.png") no-repeat;
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
}

.exhibit-img {
  background: url("../../assets/img/museum-art-512.png") no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

.user-img {
  background: url("../../assets/img/user.svg") no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

.username {
  font-size: 17px;
  color: black;
}

.menu {
  min-width: 70px;
}

.guide-img {
  background: url("../../assets/img/tour-guide.svg") no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

.tour-img {
  background: url("../../assets/img/tour.svg") no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

.navbar-dropdown {
  left: -99px;
  animation-duration: 500ms;
  animation-name: navbar-non-active;
}

.navbar-dropdown:hover {
  left: 0;
  animation-duration: 500ms;
  animation-name: navbar-active;
}

.visitor-img {
  background: url("../../assets/img/2028-512.png") no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

.visitor-img {
  background: url("../../assets/img/2028-512.png") no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

@keyframes navbar-active {
  from {
    left: -99px;
  }

  to {
    left: 0;
  }
}

@keyframes navbar-non-active {
  from {
    left: 0;
  }

  to {
    left: -99px;
  }
}

.navbar-default .navbar-nav > .active > a {
  background: #fbffbc;
  border-radius: 30%;
  color: black;
}

.navbar-default .navbar-nav > .active > a {
  animation-duration: 500ms;
  animation-name: nav_item-active;
}

@keyframes nav_item-active {
  from {
    background: #ececec;
    border-radius: 10%;
  }

  to {
    background: #fbffbc;
    border-radius: 30%;
  }
}
