<div class="list-group">
  <div class="list-group-item list-group-item-info col-xs-12">
    <div class="col-xs-2 text-center"><span>Username</span></div>
    <div class="col-xs-2 text-center"><span>Password</span></div>
    <div class="col-xs-2 text-center"><span>FIO</span></div>
    <div class="col-xs-1 text-center"><span>Age</span></div>
    <div class="col-xs-1 text-center"><span>Experience</span></div>
    <div class="col-xs-2 text-center"><span>Language</span></div>
  </div>
  <app-guide-item
    *ngFor="let guide of guides"
    [guide]="guide"
  ></app-guide-item>
</div>
<div *ngIf="!isTour" class="col-xs-12 text-center guides-list__btn">
  <button class="btn btn-success" routerLink="create">Create Guide</button>
</div>

