<app-tour-details-presentation
  [tour]="tour$ | async"
  [exhibits]="exhibits$ | async"
  [isFavouriteTour]="isFavouriteTour$ | async"
  [isGuide]="isGuide$ | async"
  (delete)="onDeleteTourFromFavourites()"
  (add)="onAddTourIntoFavourites()"
></app-tour-details-presentation>
<div class="container-fluid text-center col-xs-12" *ngIf="(exhibits$ | async).length">
  <span class="heading-text">Tours with the exhibit</span>
  <app-exhibit-list-presentation
    [exhibits]="exhibits$ | async"
    [showMode]="'list'"
    [isTour]="isTour$ | async"
  ></app-exhibit-list-presentation>
</div>

