a {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background: none;
}

img {
    height: 40px;
    width: 40px;
}

%flex-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbar-fixed-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100px;
  border-radius: 0 5px 5px 0;
  height: 100vh;
  position: fixed;
  margin: 0;
  background-color: #e9e9e9;
  z-index: 50;


  .navbar_arrow {
    position: absolute;
    bottom: 50vh;
    left: 100px;
    background: url("../../../../assets/img/fast-forward.svg") no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 60;
  }

  .navbar_header {
    @extend %flex-display;
    height: 100px;
    border-bottom: 1px solid black;

    .museum-img {
      height: 70px;
      width: 70px;
    }
  }

  .navbar_group-item {
    @extend %flex-display;
    font-size: 14px;

    a {
      @extend %flex-display;
      font-size: 14px;
    }
  }

  .navbar_group-item__bottom {
    width: inherit;
    position: fixed;
    bottom: 15px;

    .username {
      font-size: 17px;
      color: black;
    }

    .menu {
      min-width: 70px;
    }

    button {
      border: none;
      outline: none;
      background: none;
    }
  }
}

.navbar-default .navbar-nav > .active > a {
  background: #fbffbc;
  border-radius: 30%;
  color: black;
  animation-duration: 500ms;
  animation-name: nav_item-active;

  @keyframes nav_item-active {
    from {
      background: #ececec;
      border-radius: 10%;
    }

    to {
      background: #fbffbc;
      border-radius: 30%;
    }
  }
}


.navbar-dropdown {
  left: -99px;
  animation-duration: 500ms;
  animation-name: navbar-non-active;

  @keyframes navbar-non-active {
    from {
      left: 0;
    }

    to {
      left: -99px;
    }
  }
}


.navbar-dropdown:hover {
  left: 0;
  animation-duration: 500ms;
  animation-name: navbar-active;

  @keyframes navbar-active {
    from {
      left: -99px;
    }

    to {
      left: 0;
    }
  }
}


