<div class="container exhibit-edit">
  <div class="col-md-8 col-md-offset-2">
    <app-exhibit-edit-presentation
      *ngIf="exhibitForm"
      [exhibitForm]="exhibitForm"
      [tours]="tours$ | async"
      (edit)="onSubmit()"
    ></app-exhibit-edit-presentation>
  </div>
  <div class="container-fluid col-xs-12 footer-container" *ngIf="(tours$ | async)">
    <span class="heading">Tours with the exhibit</span>
    <app-tours-list-presentation
      [tours]="tours$ | async"
      [isEdit]="isEdit$ | async"
      (deleteExhibit)="deleteFromTour()"
    ></app-tours-list-presentation>
  </div>
</div>
