<div class="col-xs-4 list-group-item card-item">
  <div class="list-group-item-heading card-item__header text-center">
    <span>{{ exhibit.title }}</span>
  </div>
  <img
    class="exhibit-img img-responsive center-block"
    src="{{ exhibit.imageUrl }}"
    alt="{{ exhibit.title }}"
  >
  <p class="description">{{ exhibit.description }}</p>
  <div class="btn-group card-item__btn-group text-center bottom">
    <a
      class="btn btn-primary"
      [routerLink]="['/exhibits', exhibit.exhibitId]"
    >
      View
    </a>
    <a
      *ngIf="isGuide"
      class="btn btn-primary"
      [routerLink]="['/exhibits', exhibit.exhibitId, 'edit']"
    >
      Edit
    </a>
    <button *ngIf="isTour" class="btn-danger btn" (click)="deleteExhibitTour()">
      Delete From Tour
    </button>
  </div>
</div>
