<div class="col-xs-4 list-group-item card-item">
  <div class="list-group-item-heading card-item_header text-center">
    <span>{{ exhibit.title }}</span>
  </div>
  <img
    class="exhibit-img img-responsive center-block"
    src="{{ exhibit.imageUrl }}"
    alt="{{ exhibit.title }}"
  >
  <p class="description">{{ exhibit.description }}</p>
  <div class="btn-group card-item_btn-group text-center bottom">
    <a
      class="btn btn-primary"
      style="cursor: pointer"
      [routerLink]="['/exhibits', exhibit.exhibitId]"
    >
      View
    </a>
    <a
      *ngIf="isGuide"
      class="btn btn-primary"
      style="cursor: pointer"
      [routerLink]="['/exhibits', exhibit.exhibitId, 'edit']"
    >
      Edit
    </a>
  </div>
</div>
