<div class="col-xs-4 list-group-item card-item">
  <div class="list-group-item-heading card-item_header text-center">
    <span>{{ exhibit.title }}</span>
  </div>
  <img
    class="exhibit-img img-responsive center-block"
    src="{{ exhibit.imageUrl }}"
    alt="{{ exhibit.title }}"
  >
  <p class="description">{{ exhibit.description }}</p>
  <div class="btn-group card-item_btn-group text-center bottom">
    <button
      class="btn btn-primary"
      role="link"
      style="cursor: pointer"
      [routerLink]="['/exhibits', exhibit.exhibitId]"
    >
      View
    </button>
    <button
      class="btn btn-primary"
      role="link"
      style="cursor: pointer"
      [routerLink]="['/exhibits', exhibit.exhibitId]"
    >
      Edit
    </button>
  </div>
</div>
