.exhibit-img {
  max-height: 150px;
}

.card-item {
  height: 300px;
}

.card-item_btn-group {
  position: absolute;
  bottom: 10px;
  left: 10px;

}

.card-item_header {
  font-size: 16px;
  font-weight: bold;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 8px 0;
}
