<li class="list-group-item col-xs-12 guide-item">
  <div class="col-xs-2 text-center"><span>{{ guide.username }}</span></div>
  <div class="col-xs-2 text-center"><span>{{ guide.password }}</span></div>
  <div class="col-xs-2 text-center"><span>{{ guide.fio }}</span></div>
  <div class="col-xs-1 text-center"><span>{{ guide.experience }}</span></div>
  <div class="col-xs-1 text-center"><span>{{ guide.age }}</span></div>
  <div class="col-xs-2 text-center"><span>{{ guide.languages }}</span></div>
  <div class="col-xs-2 text-center">
    <a class="btn btn-primary" [routerLink]="[guide.guideId, 'edit']">Edit</a>
    <button class="btn btn-danger" (click)="onDeleteGuide()">X</button>
  </div>
</li>
