<nav class="navbar-fixed-left navbar-default navbar navbar-dropdown">
  <svg-icon-sprite
    class="navbar__arrow"
    [src]="'assets/sprites/sprite.svg#arrow'"
  ></svg-icon-sprite>
  <div class="navbar-header navbar__header">
    <a routerLink="/" routerLinkActive="active" role="link">
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#museum'"
        [width]="'90px'"
        [height]="'80px'"
      ></svg-icon-sprite>
    </a>
  </div>
  <ul class="nav navbar-nav navbar__group-item">
    <li routerLinkActive="active">
      <a routerLink="/exhibits">
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#exhibits'"></svg-icon-sprite>
        <span>Exhibits</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="isGuide">
      <a routerLink="/visitors">
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#visitors'"></svg-icon-sprite>
        <span>Visitors</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="isVisitor">
      <a routerLink="/tours">
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#tours'"></svg-icon-sprite>
        <span>Tours</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="isAdmin">
      <a routerLink="/guides">
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#guides'"></svg-icon-sprite>
        <span>Guides</span>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar__group-item navbar__group-item_bottom">
    <li class="dropup" *ngIf="isAuthenticated">
      <button
        class="btn btn-default dropdown-toggle navbar__group-item"
        type="button" data-toggle="dropdown"
      >
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#user'"></svg-icon-sprite>
        <span class="username">{{ username }}</span>
      </button>
      <ul class="menu dropdown-menu">
        <li>
          <button class="btn btn-default" (click)="onLogout()">Logout</button>
          <button
            *ngIf="profileMode"
            class="btn btn-default"
            routerLink="/profile"
          >Profile</button>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active" *ngIf="!isAuthenticated">
      <a routerLink="/auth/login">Login</a>
    </li>
  </ul>
</nav>
