<nav class="navbar-fixed-left navbar-default navbar navbar-dropdown">
  <img class="navbar_arrow" src="/assets/img/fast-forward.svg" alt="Arrow">
  <div class="navbar-header navbar_header">
    <a routerLink="/" routerLinkActive="active" role="link">
      <img class="museum-img" src="/assets/img/art_gallery_museum-512.png" alt="Logo">
    </a>
  </div>
  <ul class="nav navbar-nav navbar_group-item">
    <li routerLinkActive="active">
      <a routerLink="/exhibits">
        <img src="/assets/img/museum-art-512.png" alt="Exhibits">
        <span>Exhibits</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="isGuide">
      <a routerLink="/visitors">
        <img src="/assets/img/2028-512.png" alt="Visitors">
        <span>Visitors</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="isVisitor">
      <a routerLink="/tours">
        <img src="/assets/img/tour.svg" alt="Tours">
        <span>Tours</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="isAdmin">
      <a routerLink="/guides">
        <img src="/assets/img/tour-guide.svg" alt="Guides">
        <span>Guides</span>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar_group-item navbar_group-item__bottom">
    <li class="dropup" *ngIf="isAuthenticated">
      <button
        class="btn btn-default dropdown-toggle navbar_group-item"
        type="button" data-toggle="dropdown"
      >
        <img src="/assets/img/user.svg" alt="User">
        <span class="username">{{ username }}</span>
      </button>
      <ul class="menu dropdown-menu">
        <li>
          <button class="btn btn-default" (click)="onLogout()">Logout</button>
          <button
            *ngIf="profileMode"
            class="btn btn-default"
            routerLink="/profile"
          >Profile</button>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active" *ngIf="!isAuthenticated">
      <a routerLink="/auth/login">Login</a>
    </li>
  </ul>
</nav>
