<footer class="container-fluid panel-footer">
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-pills nav-justified">
        <li class="panel-group">
          <div class="panel-heading text-center bg-info"><span>Contacts</span></div>
          <a href="/">vk.com/museum</a>
          <a href="/">instagram.com/museum</a>
          <a href="/">facebook.com/museum</a>
        </li>
        <li>
          <div id="map-container-google-1" class="map">
<!--            <iframe-->
<!--              class="center-block"-->
<!--              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2361.2605103881233!2d23.839288167469622!3d53.7136214058079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e07880b7c6a337%3A0x373a264290eafa21!2sExposit!5e0!3m2!1sru!2sby!4v1582709203312!5m2!1sru!2sby"-->
<!--              allowfullscreen=""-->
<!--            ></iframe>-->
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
