/* You can add global styles to this file, and also import other style files */
.no-image {
  background: url("./assets/img/no-image.png") no-repeat center center;
  background-size: 300px auto;
  height: 300px;

  display: flex;
  justify-content: center;
}

a {
  cursor: pointer;
}

.heading-text {
  font-size: 24px;
  font-weight: bold;
}
