.card-item {
  cursor: pointer;
  border: 1px solid #9d9d9d;
  border-radius: 10px;
  margin: 10px 0;
}

.card-item_header {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-top: 6px;
  border-bottom: #b7b7b7 1px solid;

}

.exhibit-img {
  max-height: 150px;
}

.card-item_body {
  display: flex;
  margin: 10px;
}

.description {
  text-indent: 1.5em;
  text-align: justify;
  margin: 10px 20px;
}

