<div class="col-xs-12 list-item">
  <div class="list-item_header text-center">
    <span>{{ exhibit.title }}</span>
  </div>
  <div class="list-item_body">
    <img
      class="exhibit-img"
      src="{{ exhibit.imageUrl }}"
      alt="{{ exhibit.title }}"
    >
    <p class="description">{{ exhibit.description }}</p>
  </div>
  <div class="btn-group card-item_btn-group text-center bottom">
    <button
      class="btn btn-primary"
      role="link"
      style="cursor: pointer"
      [routerLink]="['/exhibits', exhibit.exhibitId]"
    >
      View
    </button>
    <button
      class="btn btn-primary"
      role="link"
      style="cursor: pointer"
      [routerLink]="['/exhibits', exhibit.exhibitId, 'edit']"
    >
      Edit
    </button>
  </div>
</div>

